* {
    margin: 0px;
    padding: 0px;
}

.visibility {
    visibility: hidden;
}


.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 0.1px 4px rgb(182, 182, 182);
}

.header img {
    width: 150px;
}

.header a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(66, 71, 76);
    padding: 20px;
}

.header .button {
    background-color: rgb(0, 128, 96);
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 15px 30px;
    transition: background-color 0.2s;
}

.header .button:hover {
    background-color: rgb(0, 83, 62);
}

.list-left {
    align-items: center;
    display: flex;
    margin-left: 10%;
}

.list-right {
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.list-left-1 {
    position: relative;
}

.list-left .hiddenbox {
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 240px;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(195, 195, 195);
    border-radius: 4px;
}

.list-left .hiddenbox li {
    width: 100%;
    height: 100%;
    padding: 15px;
    list-style: none;
    box-sizing: border-box;
    transition: background-color .2s;
}

.list-left .hiddenbox li:hover {
    padding-left: 11px;
    border-left: 4px solid rgb(0, 128, 96);
    background-color: rgb(240, 241, 242);
}

.list-left .hiddenbox a {
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
}

.green-content {
    padding: 80px;
    color: white;
    background-color: rgb(0, 76, 63);
    width: 75%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.green-content-top {
    width: 100%;
    position: relative;
}

.green-content-top h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.green-content-top h3 {
    font-weight: 300;
}

.green-content-top a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.wrap {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.wrap .item a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin: 20px 0 5px 0;
}

.wrap .item h2 {
    font-weight: 200;
}

.wrap .item a:hover {
    text-decoration: underline;
}

.white-content .title {
    text-align: center;
    margin: 80px auto;
    width: 520px;

}

.white-content .title h1 {
    font-weight: 500;
    margin: 20px;
    font-size: 40px;
}

.white-content .title p {
    line-height: 1.5em;
    font-size: 20px;
    color: rgb(85, 85, 85);
}

.white-content>.item {
    display: flex;
    align-items: center;
    width: 70em;
    margin: auto;
}

.item-text {
    margin-top: -5em;
}

.item-text h2,
p,
a {
    margin: 20px;
}

.item-text h2 {
    font-weight: 400;
    font-size: 2em;
}

.item-text p {
    color: rgb(71, 71, 71);
    width: 26em;
}

.item-text a {
    text-decoration: none;
    color: rgb(0, 128, 96);
    font-weight: 700;
    font-size: 1.2em;
}



.arrow {
    display: inline-block;
    align-items: center;
    position: relative;
    top: 3px;
    transition: .3s ease-in-out;
}

.item-text a:hover .arrow {
    transform: translateX(10px);
}